/*
MAIN COLOR: #087f5b
GREY COLOR: #343a40
*/

/*
TINTS AND SHADES:
#099268
#495057

*/

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

/* ------------------------ */
/* GENERAL STYLES */
/* ------------------------ */
body {
	font-family: 'Inter', sans-serif;
	color: #343a40;
	line-height: 1;
}

.nav {
	margin-top: 32px;
	display: flex;
	gap: 12px;
	justify-content: center;
}

.nav--link:link,
.nav--link:visited {
	text-decoration: none;
	font-weight: 700;
	display: inline-block;
	padding: 12px 24px;
	background-color: #343a40;
	color: #ffffff;
	border-radius: 8px;
}

.nav--link:active,
.nav--link:hover {
	color: #38d9a9;
}

main {
	display: flex;
	justify-content: center;
	margin-top: 100px;
}

/* Look evernote tip how to collapse borders */
table {
	width: 800px;
	font-size: 18px;
	/* margin: 100px auto; */
	/* border: 1px solid #343a40; */
	/* Collapsing borders! */
	border-collapse: collapse;
}

td,
th {
	/* border: 1px solid #343a40; */
	padding: 16px 24px;
	text-align: left;
}

/* descendant selector */
thead th {
	color: #ffffff;
	background-color: #087f5b;
	width: 25%;
}

/* Zebra Stripes */
/* Нечетные */
tbody tr:nth-child(odd) {
	background-color: #f8f9fa;
}

/* Четные */
tbody tr:nth-child(even) {
	background-color: #e9ecef;
}
