/* ****************************** */
/* ----------HEADER & LOGO */
/* ****************************** */

.header {
	background-color: var(--tint-main-color);
	padding: 0 6.4rem;

	/* Because we wont header to be sticky later, use padding instead by default */
	height: 9.6rem;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.logo {
	height: 2.2rem;
}

/* ****************************** */
/* ----------NAVIGATION */
/* ****************************** */

.main-nav-list {
	list-style: none;
	display: flex;
	align-items: center;
	gap: 3.2rem;
}

.main-nav-link:link,
.main-nav-link:visited {
	display: inline-block;
	text-decoration: none;
	color: var(--dark-grey);
	font-weight: 500;
	font-size: 1.8rem;

	transition: all 0.3s;
}

.main-nav-link:active,
.main-nav-link:hover {
	color: var(--main-color);
}

.main-nav-link.nav-cta:link,
.main-nav-link.nav-cta:visited {
	background-color: var(--main-color);
	color: var(--white-color);
	padding: 1.2rem 2.4rem;
	border-radius: 9px;
}

.main-nav-link.nav-cta:active,
.main-nav-link.nav-cta:hover {
	background-color: var(--shades-main-color);
}

/* ****************************** */
/* ----------SECTION HERO */
/* ****************************** */

.section-hero {
	background-color: var(--tint-main-color);
	padding: 4.8rem 0 9.6rem 0;
}

/* A little bit special, not even 120rem width, but 130rem for better visible */
.hero {
	max-width: 130rem;
	margin: 0 auto;
	padding: 0 3.2rem;

	align-items: center;
}

.hero-description {
	font-size: 2rem;
	line-height: 1.6;
	margin-bottom: 4.8rem;
}

.delivered-meals {
	display: flex;
	align-items: center;
	gap: 1.6rem;
	margin-top: 8rem;
}

.delivered-imgs {
	display: flex;
}

.delivered-imgs img {
	width: 4.8rem;
	height: 4.8rem;
	border-radius: 50%;
	border: 3px solid var(--tint-main-color);
	margin-right: -1.6rem;
}

.delivered-imgs img:last-child {
	margin-right: 0;
}

.delivered-text {
	font-size: 1.8rem;
}

.delivered-text span {
	color: var(--shades-main-color);
	font-weight: 700;
}

.hero-img {
	width: 100%;
}

/* ****************************** */
/* ----------SECTION FEATURED IN */
/* ****************************** */

.section-featured {
	padding: 4.8rem 0 3.2rem 0;
}

.heading-featured-in {
	font-size: 1.4rem;
	text-transform: uppercase;
	letter-spacing: 0.75px;
	font-weight: 500;

	text-align: center;
	margin-bottom: 2.4rem;
	color: var(--main-light-grey);
}

.logos {
	display: flex;
	justify-content: space-around;
}

.logos img {
	height: 3.2rem;
	/* Trick to make images grey instaed of black */
	/* filter: grayscale(100%); */
	filter: brightness(0);
	opacity: 50%;
}

/* ****************************** */
/* ----------SECTION HOW IT WORKS */
/* ****************************** */

.section-how {
	padding: 9.6rem 0;
}

.step-number {
	font-size: 8.6rem;
	font-weight: 600;
	color: var(--light-grey);
	margin-bottom: 1.2rem;
}

.step-description {
	font-size: 1.8rem;
	line-height: 1.8;
}

.step-img-box {
	display: flex;
	justify-content: center;
	align-items: center;

	position: relative;
}

.step-img-box:before,
.step-img-box:after {
	content: '';
	display: block;
	border-radius: 50%;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

/* Do not allow to add a ::before and ::after pseudo elements to images, becase they cant have child elements */
/* Hack for height, because % does not work on height, so add padding-bottom */
.step-img-box::before {
	width: 60%;
	/* 60% of parent`s width */
	padding-bottom: 60%;
	background-color: var(--tint-main-color);
	z-index: -2;
}

.step-img-box::after {
	width: 45%;
	/* 30% of parent`s width */
	padding-bottom: 45%;
	background-color: var(--d-tint-main-color);
	z-index: -1;
}

.step-img {
	width: 35%;
}

/* ****************************** */
/* ----------SECTION MEALS */
/* ****************************** */

.section-meals {
	padding: 9.6rem 0;
}

.meal {
	box-shadow: 0 2.4rem 4.8rem rgba(0, 0, 0, 0.075);
	border-radius: 11px;
	/* Use it instead of use border-radius on images */
	overflow: hidden;
	transition: all 0.4s;
}

.meal:hover {
	box-shadow: 0 3.2rem 6.4rem rgba(0, 0, 0, 0.06);
	transform: translateY(-1.2rem);
}

.meal-content {
	padding: 3.2rem 4.8rem 4.8rem 4.8rem;
}

.meal-img {
	width: 100%;
}

.meal-tags {
	display: flex;
	flex-wrap: wrap;
	gap: 0.4rem;
	align-items: center;

	margin-bottom: 1.2rem;
}

.tag {
	display: inline-block;
	padding: 0.4rem 0.8rem;
	font-size: 1.2rem;
	text-transform: uppercase;
	color: var(--dark-grey);
	border-radius: 100px;
	font-weight: 600;
}

.tag--vegetarian {
	background-color: var(--vegetarian-color);
}

.tag--vegan {
	background-color: var(--vegan-color);
}

.tag--paleo {
	background-color: var(--paleo-color);
}

.meal-title {
	font-size: 2.4rem;
	color: var(--dark-grey);
	font-weight: 600;
	margin-bottom: 3.2rem;
}

.meal-attributes {
	list-style: none;
	display: flex;
	flex-direction: column;
	gap: 2rem;
}

.meal-attribute {
	font-size: 1.6rem;
	display: flex;
	align-items: center;
	gap: 1.6rem;
}

.meal-icon {
	height: 2.4rem;
	width: 2.4rem;
	color: var(--main-color);
	/* font-size: 2.4rem; */
}

/* ----------See all recipes button */

.all-recipes {
	text-align: center;
	font-size: 1.8rem;
}

/* ****************************** */
/* ----------SECTION TESTIMONIAL + GALLERY */
/* ----------FULL BLEED SECTION */
/* ****************************** */

.section-testimonials {
	background-color: var(--tint-main-color);
	display: grid;
	grid-template-columns: 55fr 45fr;
	align-items: center;
}

.testimonials-container {
	padding: 9.6rem;
}

.testimonials {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	row-gap: 4.8rem;
	column-gap: 8rem;
}

.testimonial-img {
	width: 6.4rem;
	border-radius: 50%;
	margin-bottom: 1.2rem;
}

.testimonial-text {
	font-size: 1.8rem;
	line-height: 1.8;
	margin-bottom: 1.6rem;
}

.testimonial-name {
	font-size: 1.6rem;
	color: var(--main-md-light-grey);
}

/* ----------Gallery */

.gallery {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	gap: 1.6rem;
	padding: 1.6rem;
}

.gallery-item {
	overflow: hidden;
}

/* Need to set up image to block for delete whitespace between images, what they have by default when they are inline elements */
.gallery-item img {
	display: block;
	width: 100%;
	transition: all 0.4s;
}

.gallery-item img:hover {
	/* transform: rotate(45deg); */
	transform: scale(1.1);
}

/* ****************************** */
/* ----------SECTION PRICING */
/* ****************************** */

.section-pricing {
	padding: 9.6rem 0;
}

.pricing-plan {
	border-radius: 11px;
	width: 75%;
}

.pricing-plan--starter {
	border: 2px solid var(--tint-main-color);
	justify-self: end;
	padding: 4.6rem;
}

.pricing-plan--complete {
	background-color: var(--tint-main-color);
	padding: 4.8rem;
	position: relative;
	overflow: hidden;
}

.pricing-plan--complete:before {
	content: 'Best value';
	position: absolute;
	/* Using percentages for aligning this element, for more flexability of the page */
	top: 6%;
	right: -20%;

	text-transform: uppercase;
	word-spacing: 5px;
	font-size: 1.4rem;
	font-weight: 700;
	color: var(--dark-grey);
	background-color: var(--paleo-color);
	padding: 0.8rem 8rem;
	transform: rotate(45deg);
}

.plan-header {
	text-align: center;
	margin-bottom: 4.8rem;
}

.plan-name {
	color: var(--shades-main-color);
	font-weight: 600;
	font-size: 2rem;
	text-transform: uppercase;
	letter-spacing: 0.75px;
	margin-bottom: 3.2rem;
}

.plan-price {
	font-size: 6.2rem;
	font-weight: 600;
	color: var(--dark-grey);
	margin-bottom: 1.6rem;
}

.plan-price span {
	font-size: 3rem;
	font-weight: 500;
	margin-right: 0.8rem;
}

.plan-text {
	font-size: 1.6rem;
	line-height: 1.6;
	color: var(--main-md-light-grey);
}

.plan-sing-up {
	text-align: center;
	margin-top: 4.8rem;
}

.plan-details {
	font-size: 1.6rem;
	line-height: 1.8;
	text-align: center;
}

/* ****************************** */
/* ----------FEATURE BLOCK */
/* ****************************** */

/* Ion icons using default behavior of box-sizing: content-box, instead of defining in the document border-box */
.feature-icon {
	color: var(--main-color);
	height: 3.2rem;
	width: 3.2rem;
	margin-bottom: 3.2rem;
	background-color: var(--tint-main-color);
	border-radius: 50%;
	padding: 1.6rem;
}

.feature-title {
	font-size: 2.4rem;
	color: var(--dark-grey);
	font-weight: 700;
	margin-bottom: 1.6rem;
}

.feautre-text {
	font-size: 1.8rem;
	line-height: 1.8;
}

/* ****************************** */
/* ----------CTA SECTION */
/* ****************************** */

.section-cta {
	padding: 9.6rem 0;
}

.cta {
	display: grid;
	grid-template-columns: 2fr 1fr;
	/* background-color: var(--main-color); */
	/* to right, to top, to right bottom, 90deg, 180deg */
	background-image: linear-gradient(
		to right bottom,
		var(--gradient-tint),
		var(--main-color)
	);
	box-shadow: 0 2.4rem 4.8rem rgba(0, 0, 0, 0.15);
	border-radius: 11px;

	overflow: hidden;
}

.cta-text-box {
	padding: 4.8rem 6.4rem 6.4rem 6.4rem;
	color: var(--cta-heading-color);
}

.cta-text {
	font-size: 1.8rem;
	line-height: 1.8;
	margin-bottom: 4.8rem;
}

.cta .heading-secondary {
	color: inherit;
}

.cta-form {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	column-gap: 3.2rem;
	row-gap: 2.4rem;
}

.cta-form label {
	display: block;
	font-size: 1.6rem;
	font-weight: 500;
	margin-bottom: 1.2rem;
}

.cta-form input,
.cta-form select {
	width: 100%;
	padding: 1.2rem;
	font-size: 1.8rem;
	/* Form do not inherited font-family from body by default like other elements */
	font-family: inherit;
	color: inherit;
	border: none;
	background-color: var(--tint-main-color);
	border-radius: 9px;
	box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
}

.cta-form input::placeholder {
	color: var(--form-light-grey);
}

.cta *:focus {
	outline: none;
	box-shadow: 0 0 0 0.8rem var(--tint-main-color-trans);
}

.cta-img-box {
	background-image: linear-gradient(
			to right bottom,
			var(--gradient-tint-trans),
			var(--main-color-trans)
		),
		url('../img/eating.jpg');
	background-size: cover;
	background-position: center;
}
