h1,
h2,
h3,
h4,
p,
li {
	color: #444444;

	font-family: sans-serif;
}

h1,
h2,
h3 {
	color: #1096ad;
}

h1 {
	text-transform: uppercase;

	font-size: 26px;
	font-style: italic;
}

h2 {
	font-size: 40px;
}

h3 {
	font-size: 30px;
}

h4 {
	text-align: center;
	text-transform: uppercase;

	font-size: 20px;
}

li {
	font-size: 20px;
}

p {
	font-size: 22px;
	line-height: 1.5;
}

/* Descendant selector */
/* Descendant - потомок */
/* footer p {
	font-size: 16px;
} */

/* Nested descendant selector */
/* article header p {
	font-style: italic;
} */

/* ID Selector */
#author {
	font-size: 18px;
	font-style: italic;
}

#copyright {
	font-size: 16px;
}

/* Class Selector */
.related-author {
	font-size: 18px;
	font-weight: bold;
}

.related {
	list-style: none;
}

.main-header {
	background-color: #f7f7f7;
}

aside {
	border-top: 5px solid #1096ad;
	border-bottom: 5px solid #1096ad;
	background-color: #f7f7f7;
}

/* .first-li {
	font-weight: bold;
} */

li:first-child {
	font-weight: bold;
}

li:last-child {
	font-style: italic;
}

/* li:nth-child(even) {
	color: green;
} */

li:nth-child(odd) {
	color: red;
}

/* always work if p FIRST child of article element */
article p:first-child {
	color: red;
}
