/*
MAIN COLOR: #087f5b
GREY COLOR: #343a40
*/

/*
TINTS AND SHADES:
#099268
#495057

*/

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

/* ------------------------ */
/* GENERAL STYLES */
/* ------------------------ */
body {
	font-family: 'Inter', sans-serif;
	color: #343a40;
	line-height: 1;
}

.components {
	width: 700px;
	margin: 100px auto;
	display: flex;
	flex-direction: column;
	gap: 32px;
	font-size: 48px;
}

.component-link:link,
.component-link:visited {
	display: inline-block;
	height: 100px;
	width: 100%;

	box-shadow: 0 0 24px rgba(0, 0, 0, 0.25);
	border-radius: 8px;

	text-decoration: none;
	font-weight: 700;
	color: #ffffff;
	background-color: #343a40;

	display: flex;
	align-items: center;
	justify-content: center;
}

.component-link:active,
.component-link:hover {
	color: #38d9a9;
	/* border-left: 4px solid #ffffff; */
}
