/*
MAIN COLOR: #087f5b
GREY COLOR: #343a40
*/

/*
TINTS AND SHADES:
#099268
#495057

*/

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

/* ------------------------ */
/* GENERAL STYLES */
/* ------------------------ */
body {
	font-family: 'Inter', sans-serif;
	color: #343a40;
	line-height: 1;
}
